/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  
  /*  --------------- Utility Classes -----------------  */
  
  .container{
    max-width: 960px;
    width:80vw;
    margin:40px auto;
  }


body{
    background-image:  url("../img/3l3rnhb84rn81.jpg");
    background-size:cover;
   
    
}  
 
h1{
    font-weight:bold;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #000000;
    padding-top: 10px;
    font-size:2.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  ul li {
    list-style-type: none;
    padding: 20px;
  }


ul a {
    font-weight:bold;
    font-size:1.5rem;
    color: #fff;
    text-shadow: 2px 2px #000000;
    text-decoration: none;
    background-color: rgba(133, 6, 6, 0.65);
    padding: 7.5px 40px;
    margin: 40px;
    border-radius: 50px;
    border: 2px solid #ce2f2f;
    transition: 0.4s;
  }
  
ul a:hover {
    background-color: rgba(119, 0, 0, 0.8);
  }


p{    
  color: #fff;
  text-align: center;
  
  background-color: rgba(133, 6, 6, 0.65);
  text-shadow: 2px 2px #000000;
padding: 5px;
margin: 0;
  font-size:1.5rem;
}


@media screen and (max-width: 600px) {
    header.primary ul {
      flex-direction: column;
      gap:10px;
      max-width:250px;
      margin:auto;
    }
    header.primary nav a{
        display:block;
      }
  }
  