

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


img{
  max-width:100%;
}


.container{
  max-width: 960px;
  width:80vw;
  margin: 40px auto;
}

.img-right{
  position:absolute;
  top:20px;
  right:25px;
    width: 220px;
  }

  .img-left{
    position:absolute;
    top:50px;
    left:50px;
    width: 300px;
  }

  .img-text{
    float:right;
    width: 50%;
    margin-bottom: 4rem;
    margin-left: 3rem;
  }





body{
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin:0; 
    color:#ffffff
    }
    
    header.primary {
    background-image: url("../img/drag.png");
    background-size:cover;
    color:#ffffff;
    padding: 100px;  
    text-align:left; 
    }

  
  
    
    header.primary h1 {
      font-size: 5rem;
      font-family: "Oswald", sans-serif;
      font-weight: 600;

    }
    
    header.primary h1 a{
      color:#ffffff;
      text-decoration:none;
    }
    
    header.primary h2 {
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 400; 
      padding-bottom: 5rem;
    }
    
    header.primary nav{
      max-width: 900px;
      margin: 40px auto;
    }
    
    header.primary ul {
      display:flex;
      flex-direction: row;
      justify-content:space-evenly ;
    }
    
    header.primary ul li{
      list-style-type:none;
    }
    
    header.primary nav a{
      color:#fff;
      text-decoration:none;
      padding:7.5px 20px;
      transition:.4s;
    }
    
    header.primary nav a:hover{
      color:#969696;
    }
    
    #content{
      line-height:1.5;
      }
      
    #content h2{
      padding-top: 5rem;
      font-size: 2rem;
      font-family: "Oswald", sans-serif;
      border-bottom: #fff solid ;
    }

    #content h3{
      font-size: 1.5rem;
      font-family: "Oswald", sans-serif;
    }
    
    #content h3{
     margin-bottom: 0;
     padding: 0;
    }

    #content h4{
      margin-bottom: 2rem;
      padding: 0;
 
     }

    #content dt{
      margin-bottom: 1rem;
    }

    #content dd{
      margin-bottom: 2.5rem;
      width: 50%;
    }

      
      #colophon{
        text-align:center;
        margin-top: 10rem;
        font-family: "Montserrat", sans-serif;
      }

      #colophon a{
        color: #fff;
      }
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      @media screen and (max-width: 600px) {
        header.primary ul {
          flex-direction: column;
          gap:10px;
          max-width:250px;
          margin:auto;
        }
        header.primary nav a{
          display:block;
        }
      }
      
    
    
    
    
    